<div class="header">
    <div class="logo">
        <a href="/">Logo</a>
    </div>

    <div class="nav">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/services" class="nav-link">Nos services</a>
        <a href="/contact-us" class="nav-link">Nous contactez</a>
    </div>
</div>